@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

.title {
  text-align: center;
  font-size: 30px;
}

.subtitle {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
}
