.file-drop-area {
  border: 4px dashed #0c8ae7;
  border-radius: 15px;
  padding: 20px;
  width: 70%;
  margin: 15px auto;
  text-align: center;
  background-color: white;
}

.file-drop-area.dragging {
  background-color: #f0f0f0;
}

body {
  background-color: #efe3ff;
}

.message {
  text-align: center;
  background-color: white;
  width: 45%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
}

.success {
  color: green;
}

.failure {
  color: red;
}
